	
	/** login **/
	page {
		background-color: #fff;
	}
	.logo-v{
		align-items: center;
		justify-content: center;
		height: 500upx;
	}
	.logo{
		height: 227upx;
		width: 145upx;
	}
	
	.center-v{
		flex-grow: 1;
	}
	
	.input-v{
		margin-left: 80upx;
		margin-right: 80upx;
	}
	.input-in{
		margin-left: 10upx;
		margin-right: 10upx;
		font-size: 32upx;
	}
	.input-line{
		margin-top: 15upx;
		height: 2upx;
		background-color: #ddd;
		/* background-image: linear-gradient(to right,#f79200,#ff6e00); */
	}
	.forget{
		color: #ff7e00;
		font-size: 30upx;
		margin-bottom: 5upx;
	}
	.code-str{
		color: #ec5800;
		font-size: 30upx;
		margin-bottom: 5upx;
	}
	
	.login-bg{
		background-image: linear-gradient(to right,#ff7e00,#ff4900);
		padding: 14upx;
		border-radius: 10upx;
		margin-bottom: 20upx;
	}
	
	.login-text{
		color: #fff;
		font-size: 32upx;
	}
	
	.reg{
		color: #131313;
		font-size: 28upx;
	}
	
	.version{
		color: #131313;
		font-size: 28upx;
		margin-top: 350upx;
	}
	
	/* reg */
	.reg-v{
		align-items: center;
		justify-content: flex-start;
		height: 500upx;
	}
	.reg-title{
		color: #131313;
		font-size: 60upx;
		font-weight: bold;
		margin-bottom: 10upx;
	}
	
	.reset-progress-active{
		color: #131313;
		font-size: 24upx;
		text-align: center;
		flex: 1;
		margin-top: 15upx;
	}
	.reset-progress{
		color: #989898;
		font-size: 24upx;
		text-align: center;
		flex: 1;
		margin-top: 15upx;
	}
	.font-sx{ font-size: 32upx; margin-bottom: 10upx;}
	.font_14{ font-size: 28upx;}
	.font_fb{ font-weight: 700;}