page{
	background:#f3f1f3;
}
.nav-bg{
	background-color: #FFFFFF;
}
.nav-title {
	font-size: 44upx;
	color: #333;
	font-weight: bold;
}

.margin-lr-item{
	margin-left: 20upx;
	margin-right: 20upx;
}
.top-card-bg{
	position: absolute;
	top: 350upx;
	width: 100%;
	z-index: 20;
	padding-left: 20upx;
	padding-right: 20upx;
}
.top-card{
	text-align: center;
	justify-content: center;
	align-items: center;
	background-color: #FFFFFF;
	height: 120upx;
	border-radius: 10upx;
	flex: 1;
}

.icon{
	height: 60upx;
	width: 60upx;
	margin-right: 20upx;
}
.title{
	font-size: 36upx;
	color: #131313;
	font-weight: 700;
	/* margin-top: 30upx; */
}
.sub-title{
	font-size: 22upx;
	color: #989898;
	text-align: left;
	margin-left: 10upx;
}

.image{
	height: 254upx;
	width: 254upx;
	border-radius: 8upx;
	position: relative;
	margin-right: 20upx;
	/* background: #8DC63F; */
}
.hot{
	height: 41upx;
	width: 124upx;
	position: absolute;
	top:0upx;
	right: 0;
	border-top-right-radius: 10upx;
}
.image-round{
	height: 254upx;
	width: 254upx;
	border-radius: 127upx;
}
.image-radius{
	height: 254upx;
	width: 254upx;
	border-radius: 12upx;
}
/* 专家 */
.image-class{
	height: 300upx;
	width: 100%;
	border-radius: 10upx;
	margin-bottom: 15upx;
	margin-top: 10upx;
}

.tag-class{
	color: #626262;
	font-size: 18upx;
	background: #f3f1f3;
	border-radius: 20upx;
	height: 40upx;
	line-height: 36upx;
	padding-left: 10upx;
	padding-right: 10upx;
	text-align: center;
	border: 1upx solid #f3f1f3;
	margin: 0 6upx;
}
.name-class{
	color: #ff7e00;
	font-weight: bold;
	font-size: 24upx;
	border: 1upx solid #ff7e00;
	background-color: #fff8f6;
	border-radius: 40upx;
	padding:0 30upx 10upx;
	line-height: 46upx;
	height: 50upx;
	margin-right: 10upx;
}

.home-swiper{
	background-image: linear-gradient(#ff4900, #ff7e00);
	z-index: -1;
	overflow: hidden;
	padding-left: 20upx;
	padding-right: 20upx;
	padding-top: 20upx;
}
.screen-swiper image,
.screen-swiper video,
.swiper-item image,
.swiper-item video {
	width: 100%;
	display: block;
	height: 320upx;
	margin: 0;
	border-radius: 10upx;
	pointer-events: none;
}

.card-list{
	background: #FFFFFF;
	padding: 30upx;
	border-radius: 10upx;
	border: 1upx solid #f3f1f3;
	/* box-shadow:inset 0upx 0upx  10upx #F0F0F0; */
	margin-bottom: 20upx;
	position: relative;
}
.card-item-title{
	font-size: 32upx;
	font-weight: 700;
	height: 50upx;
	overflow: hidden;
	color: #131313;
	font-size: 36upx;
}
.card-item-mt-10{ margin-top: 14upx;}
.card-item-sign{
	background: #02cfa9;
	padding: 5upx 10upx 5upx 10upx;
	margin-left: 20upx;
	border-radius: 10upx;
	color: #FFFFFF;
	height: 32upx;
	font-size: 20upx;
}
.active-price{
	margin: 10upx 0;
	color: #ff4900;
}
.active-price-big{
	color: #ff4900;
	font-weight: bold;
	font-size: 36upx;
	margin-right: 10upx;
}
.card-item-desc{
	font-size: 24upx;
	margin-top: 15upx;
	margin-bottom: 15upx;
	overflow: hidden;
}
.card-item-desc-phone{
	height: 24upx;
	width: 24upx;
	margin-right: 10upx;
}
.card-tag{ background-image: linear-gradient(to right, #3623b2, #c266da); padding: 5upx 20upx; color: #fff; border-radius: 30upx;}
.card-item{
	/* border-bottom:1upx #f0f0f0 solid; */
	align-items: center;
}
.card-item:last-child{
	border-bottom: 0px #f0f0f0 solid;
}

.card-item-row{
	align-items: center;
	flex: 1;
}

.more{
	font-size: 24upx;
	color: #ff7e00;
}
/* 产品tag */
.tag{
	color: #989898;
	font-size: 24upx;
	background: #f3f1f3;
	border-radius: 20upx;
	height: 38upx;
	width: 100upx;
	margin: 0 20upx;
	text-align: center;
	border: 1upx solid #f3f1f3;
}
.tag-active{
	color: #ff7e00;
	font-size: 24upx;
	background: #fff8f6;
	border-radius: 20upx;
	height: 38upx;
	width: 100upx;
	text-align: center;
	margin:0 20upx;
	border: 1upx solid #ff7e00;
}
/* 新闻tag */
.tag2{
	color: #626262;
	font-size: 32upx;
	height: 50upx;
	line-height: 50upx;
}
.tag2-active{
	color: #ff7e00;
	font-weight: bold;
	font-size: 32upx;
	height: 50upx;
	line-height: 50upx;
	border-bottom: 4upx solid #ff7e00;
}
.margin-left-sm{ margin-right: 20upx;}
.hospital-card-title{ font-size: 32upx; color: #131313; max-height: 86upx; overflow: hidden; margin: 18upx 0;}

.hospital-card-info{ height: 116upx; overflow: hidden; }
/* 健康头部 */
.tagTop{
	color: #FFFFFF;
	font-size: 34upx;
	height: 100upx;
	line-height: 100upx;
}
.tagTop-active{
	color: #FFFFFF;
	font-weight: bold;
	font-size: 34upx;
	/* border-bottom: 6upx solid #FFFFFF; */
	height: 100upx;
	line-height: 100upx;
}
.heatopbg{height:100upx;width: 100%; background:#ff4900; position: fixed; z-index: 100;}
